<div class="row">
	<div class="col-sm-2">
		<ul class="tree">
			<li *ngFor="#r of rootList" [ngClass]="{'bg-info': r.id === selectedTreeId}" (click)="onTreeSelect(r.id)"><i>+</i><ul>{{r.name}}</ul></li>
		</ul>
	</div>
	<div class="col-sm-10">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Parent</th>
					<th>Type</th>
					<th>Mandatory</th>
					<th>Hint</th>
					<th>Sort order</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="#mo of childList" [ngClass]="{'info': mo.id === selectedId}" (click)="onSelect(mo.id)">
					<td>{{mo.id}}</td>
					<td>{{mo.name}}</td>
					<td>{{mo.parentName}}</td>
					<td>{{mo.typeName}}</td>
					<td>{{mo.mandatory}}</td>
					<td>{{mo.hint}}</td>
					<td>{{mo.sortOrder}}</td>
				</tr>
			</tbody>
			<tfoot>

			</tfoot>
		</table>
	</div>

</div>

