<div class="col-lg-2">
	<div class="panel panel-info">
		<div class="panel-body">
			<tree-view [Nodes]="Nodes"
					   [SelectedNode]="selectedNode"
					   (onSelectedChanged)="onSelectNode($event)"
					   (onRequestNodes)="onRequest($event)">
			</tree-view>
		</div>
	</div>
</div>
<div class="col-lg-9">
	<div class="panel panel-info">
		<div class="panel-body">
			<table class="table table-bordered table-hover"
				   *ngIf="selectedNode">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Type</th>
						<th>Hint</th>
						<th>SortOrder</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="#mo of selectedNode.children | slice:currentPage*pageSize:currentPage*pageSize+pageSize">
						<td>{{mo.id}}</td>
						<td>{{mo.name}}</td>
						<td>{{mo.typeName}}</td>
						<td>{{mo.hint}}</td>
						<td>{{mo.sortOrder}}</td>
						<td>{{mo.value}}</td>
					</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
			<div *ngIf="selectedNode">
				<span *ngIf="startPage > 0">
					<button class="btn btn-xs" (click)="onSelectPage(startPage-1)">...</button>
				</span>
				<span *ngFor="#n of pages | slice: startPage : endPage">
					<button class="btn btn-xs"
							(click)="onSelectPage(n)"
							[ngClass]="{'btn-info': currentPage == n}">
						{{n+1}}
					</button>
				</span>
				<span *ngIf="endPage < pages.length">
					<button class="btn btn-xs" (click)="onSelectPage(endPage)">...</button>
				</span>
			</div>
		</div>
	</div>
</div>